## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userprefs
*.pidb
*.usertasks
.vs/
.vscode/
TestResults/

## Rider
.idea/

## SQLite artifacts (dev)
*.db
*.db-shm
*.db-wal

## Build output
*.dll
*.pdb
*.exe

## OS
.DS_Store
Thumbs.db

## Publish
publish/